*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}



/* main */

main{
    color: white;
}


.view{
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.view span{
    color: white;
    background: linear-gradient(#3d3d3d, #1f1f1f);
    padding: 6px 8px;
    margin-right: 10px;
    border-radius: 5px;
}

.container{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.container .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .left i{
    font-size: 30px;
    transform: rotateY(180deg);
    margin-right: 10px;
}



.container .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.container .right i{
    font-size: 30px;
    color:#2ebaff ;
}

.container .main{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.picture{
    height: calc((100% - 20px) / 5);
    width: calc((100% - 20px ) / 5);
    background-color: chocolate;
    position: relative;
}

.picture span{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.picture:nth-of-type(odd){
    background-color: crimson;
}

.picture:nth-of-type(even){
    background-color: blue;
}




footer{
    color: #dcdcdc;
    height: 80px;
    background-color: #212324;
    display: flex;
    justify-content: space-between;
}


.footer-left{
    
    display: flex;
    justify-content: space-around;
}

.footer-left i{
    font-size: 25px;
}

.footer-left .icon{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-left .arrow{
    display: flex;
    align-items: center;
}

.arrow i{
    font-size: 20px;
}

.footer-center{
    
    display: flex;
    justify-content: space-around;
}

.footer-center i{
    font-size: 25px;
}

.footer-center .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-right{
    width: 10%;
}

/* debug */
/* 
.container{
    height: 600px;
    background-color: blueviolet;
}

.left {
    height: 600px;
    background-color: cornflowerblue;
}

.left {
    height: 600px;
    background-color: cornflowerblue;
}

.main{
    height: 600px;
    background-color:indigo
} */

.footer-left{
    background-color: indigo;
}

.footer-center{
    background-color: magenta;
}

.footer-right{
    background-color: mediumvioletred;
}